### 에타제곱

In [2]:
import pandas as pd 
import numpy as np

In [3]:
sleep = pd.read_csv('sleep.csv')

In [4]:
sleep.head()

   Unnamed: 0  extra  group  ID
0           1    0.7      1   1
1           2   -1.6      1   2
2           3   -0.2      1   3
3           4   -1.2      1   4
4           5   -0.1      1   5

In [5]:
전체평균 = sleep['extra'].mean()

In [6]:
X = sleep['extra']

In [7]:
전체SS = np.sum((X-전체평균)**2)

In [8]:
sleep.groupby('group').agg({'extra': 'mean'})
# sleep을 group변수에 따라(by)그룹을 지어서(group)
# extra 컬럼을 평균(mean)내라
# agg: aggregate의 약자 (모아서 통계내다)

       extra
group
1       0.75
2       2.33

In [9]:
처치SS = (
    10* (0.75 - 전체평균)**2 + #1번 그룹에 10명의 사람
    10* (2.33 - 전체평균)**2)

In [11]:
에타제곱 = 처치SS / 전체SS

In [12]:
에타제곱 #집단간 차이가 수면시간의 16.1%를 설명한다(크게 높지 않은 수치)

0.16133285079102466

In [14]:
코헨의d = (2.33-0.75) / sleep['extra'].std()

In [16]:
코헨의d # 두 집단이 0.78 표준편차 차이가 난다 (IQ 11점 정도 차이)

0.7829845675400594

In [17]:
# IQ테스트에서 1표준편차 = 15점

In [18]:
from numpy.random import normal

In [20]:
A = normal(10, 1, 1000) #평균이 10만원, 표준편차 1, data 1000개
B = normal(9, 1, 1000) #평균이 9만원

In [21]:
epsilon = 0.1

In [22]:
from numpy.random import uniform

In [24]:
import random

In [25]:
count = {'A':0, 'B':0}
reward = {'A':0, 'B':0}
value = {'A':0,'B':0}
if uniform(0,1) < epsilon: 
    #탐색
    if random.choice('AB') == 'A':
        reward['A'] += normal(10,1)
        ????????????????????????????????????????????????????????????????????
else:
    #활용

SyntaxError: unexpected EOF while parsing (<ipython-input-25-cc0d1efcaa8f>, line 10)